name: 腾讯自选股

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * *"
    watch:
        types: [started]

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event.repository.owner.id == github.event.sender.id
        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js 10.x
              uses: actions/setup-node@v1
              with:
                  node-version: 10.x
            - name: npm install
              run: |
                  npm install
            - name: "运行【腾讯自选股】"
              if: env.USERKEY
              run: |
                  node Task/txstockqx.js
              env:
                  USERHEADER: ${{ secrets.USERHEADER }}
                  USERKEY: ${{ secrets.USERKEY }}
                  CASHHEADER: ${{ secrets.CASHHEADER }}
                  SINGHEADER: ${{ secrets.SINGHEADER }}
                  SINGHEADER: ${{ secrets.SINGHEADER }}
                  TASKHEADER: ${{ secrets.TASKHEADER }}
                  TASKKEY: ${{ secrets.TASKKEY }}
                  WXTASKKEY: ${{ secrets.WXTASKKEY }}
